https://origin.tiny.pm {
	@static_assets {
		path /_next/* /images/* /fonts/*
	}

	# Handle static assets
	handle @static_assets {
		import static_headers
		reverse_proxy https://tiny.pm {
			header_up Host tiny.pm
			header_up X-Original-URL {http.request.uri}
			header_up Connection keep-alive
		}
	}

	# Handle all other requests
	handle {
		reverse_proxy 192.99.245.232:3131 {
			header_up Host tiny.pm
			header_up X-Real-IP {remote_host}
		}
	}
} 